.keychain {
	.container {
		span {
			line-height: 42px;
			font-size: 23px;
			@include bold;
			display:block;
			text-align:center;
			padding-top:56px;
			margin-bottom:30px;
		}

		//KEYCHAIN'S LIST
		ul {
			font-size:0;
			margin-bottom:70px;
			text-align:center;

			@include mq (0,420px) {
				margin-bottom:30px;
			}
			li {
				font-size:0;
				width:150px;
				display:inline-block;
				transition:all 0.5s ease-in-out;

				@include mq (0,420px) {
					width:100%;
				}

				&:hover {
					transform:scale(1.1) translateY(-15px);
				}
			}
		}

		p {
			font-size: 31px;
			text-align: center;
			line-height:43px;

			@include mq (0,420px) {
				font-size:29px;
			}
		}

		strong {
			font-size: 34px;
			text-align: center;
			display:block;
			@include bold;

			@include mq (0,420px) {
				font-size:32px;
				line-height:34px;
			}
		}

		.cta {
			margin:45px auto;
			font-size:27px;
			padding:0 40px;

			@include mq (0,420px) {
				font-size:19px;
			}
		}
	}
}